<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>정보 수정</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Apple ID</h1>
    <p>개인 정보를 최신 상태로 유지하세요.</p>

    <form action="update" method="post" style="text-align: left;">
        <span class="label-text">Apple ID (수정 불가)</span>
        <input type="text" name="memberId" th:value="${member.memberId}" readonly>

        <hr>

        <span class="label-text">새로운 암호</span>
        <input type="password" name="password" th:value="${member.password}">

        <span class="label-text">이름</span>
        <input type="text" name="name" th:value="${member.name}">

        <span class="label-text">나이</span>
        <input type="number" name="age" th:value="${member.age}">

        <button type="submit" style="margin-top: 20px;">변경사항 저장</button>
    </form>

    <button class="danger" onclick="location.href='/'" style="margin-top: 20px; font-size: 14px;">취소하기</button>
</div>
</body>
</html>